<launch>
    <group ns="camera_150">
    <!-- 相机内参 -->
    <rosparam file="$(find hikmvs_ros_driver)/config/150.yaml" command="load" />
    <!-- hikrobot mvs camera 参数 -->
    <rosparam file="$(find hikmvs_ros_driver)/config/camera-indoor.yaml" command="load" />
    <node pkg="hikmvs_ros_driver" type="hikmvs_ros_driver" name="hikmvs_ros_driver" respawn="true" output="screen" />
    </group>

    <group ns="camera_160">
    <!-- 相机内参 -->
    <rosparam file="$(find hikmvs_ros_driver)/config/160.yaml" command="load" />
    <!-- hikrobot mvs camera 参数 -->
    <rosparam file="$(find hikmvs_ros_driver)/config/camera-indoor.yaml" command="load" />
    <node pkg="hikmvs_ros_driver" type="hikmvs_ros_driver" name="hikmvs_ros_driver" respawn="true" output="screen" />
    </group>

    <group ns="camera_170">
    <!-- 相机内参 -->
    <rosparam file="$(find hikmvs_ros_driver)/config/170.yaml" command="load" />
    <!-- hikrobot mvs camera 参数 -->
    <rosparam file="$(find hikmvs_ros_driver)/config/camera-indoor.yaml" command="load" />
    <node pkg="hikmvs_ros_driver" type="hikmvs_ros_driver" name="hikmvs_ros_driver" respawn="true" output="screen" />
    </group>

    <group ns="camera_180">
    <!-- 相机内参 -->
    <rosparam file="$(find hikmvs_ros_driver)/config/180.yaml" command="load" />
    <!-- hikrobot mvs camera 参数 -->
    <rosparam file="$(find hikmvs_ros_driver)/config/camera-indoor.yaml" command="load" />
    <node pkg="hikmvs_ros_driver" type="hikmvs_ros_driver" name="hikmvs_ros_driver" respawn="true" output="screen" />
    </group>
    
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find hikmvs_ros_driver)/rviz_config/hikrobot.rviz" />

</launch>